calendar {
    display: block;
    margin-top: 20px;
    max-width: 600px;
}

week {
    display: flex;
}

week:first-child {
    justify-content: flex-end;
}

day {
    flex-basis: 14.3%;
    box-sizing: border-box;
    background-color: gainsboro;
    border: 1px solid white;
    padding: 2%;
    color: white;
    cursor: pointer;
    font-size: 4vw;
}

day::after {
    content: attr(number);
}

.today {
    background-color: gold;
}