calendar {
    display: block;
    margin-top: 20px;
}

week {
    display: flex;
}

week:first-child {
    justify-content: flex-end;
}

day {
    flex-basis: 14.3%;
    box-sizing: border-box;
    background-color: gainsboro;
    border: 1px solid white;
    padding: 5px 15px 15px 5px;
    color: white;
}

day::after {
    content: attr(number);
}
